# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


.ipynb_checkpoints
best_thrombus_model.pth

# https://github.com/github/gitignore/blob/master/Global/macOS.gitignore
# General
.DS_Store
.AppleDouble
.LSOverride
